## Imports and Loading Datasets

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from scipy import stats
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely.geometry import Polygon, MultiPolygon
from shapely.wkt import loads
import shapely.wkt

pd.set_option('display.max_rows', 100)

In [2]:
#REFINED DATAFRAME OF VIOLENT CRIME. ONLY INCLUDES ASSAULT, BATTERY, AND HOMICIDE
#ALSO INCLUDES ALSO POLICE SENTIMENT DEMOGRAPHICS AS FEATURES 

import pandas as pd
from sqlalchemy import create_engine

# Database credentials
username = 'crimeadmin'
password = '4DAnuuSBWVQ92w!F'
host = 'crimedbmysql.cspoouh9lugd.us-east-2.rds.amazonaws.com'
database = 'crimedb_mysql'
port = '3306'  # default MySQL port

# Create the database engine
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}')

# SQL query or table name
query = "SELECT * FROM ML_VIOLENT_ALL_FEATURES"  #Name of table 

# Create a DataFrame from the SQL query
df_violent = pd.read_sql(query, engine)

In [3]:
#REFINED DATAFRAME OF VIOLENT CRIME. ONLY INCLUDES ASSAULT, BATTERY, AND HOMICIDE
"""
import pandas as pd
from sqlalchemy import create_engine

# Database credentials
username = 'crimeadmin'
password = '4DAnuuSBWVQ92w!F'
host = 'crimedbmysql.cspoouh9lugd.us-east-2.rds.amazonaws.com'
database = 'crimedb_mysql'
port = '3306'  # default MySQL port

# Create the database engine
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}')

# SQL query or table name
query = "SELECT * FROM ML_VIOLENT_REVISED"  #Name of table 

# Create a DataFrame from the SQL query
df_violent = pd.read_sql(query, engine)
"""

'\nimport pandas as pd\nfrom sqlalchemy import create_engine\n\n# Database credentials\nusername = \'crimeadmin\'\npassword = \'4DAnuuSBWVQ92w!F\'\nhost = \'crimedbmysql.cspoouh9lugd.us-east-2.rds.amazonaws.com\'\ndatabase = \'crimedb_mysql\'\nport = \'3306\'  # default MySQL port\n\n# Create the database engine\nengine = create_engine(f\'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}\')\n\n# SQL query or table name\nquery = "SELECT * FROM ML_VIOLENT_REVISED"  #Name of table \n\n# Create a DataFrame from the SQL query\ndf_violent = pd.read_sql(query, engine)\n'

In [4]:
"""
import pandas as pd
from sqlalchemy import create_engine

# Database credentials
username = 'crimeadmin'
password = '4DAnuuSBWVQ92w!F'
host = 'crimedbmysql.cspoouh9lugd.us-east-2.rds.amazonaws.com'
database = 'crimedb_mysql'
port = '3306'  # default MySQL port

# Create the database engine
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}')

# SQL query or table name
query = "SELECT * FROM Police_Sector_Geom"  #Name of table 

# Create a DataFrame from the SQL query
df_sector_geom = pd.read_sql(query, engine)
"""

'\nimport pandas as pd\nfrom sqlalchemy import create_engine\n\n# Database credentials\nusername = \'crimeadmin\'\npassword = \'4DAnuuSBWVQ92w!F\'\nhost = \'crimedbmysql.cspoouh9lugd.us-east-2.rds.amazonaws.com\'\ndatabase = \'crimedb_mysql\'\nport = \'3306\'  # default MySQL port\n\n# Create the database engine\nengine = create_engine(f\'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}\')\n\n# SQL query or table name\nquery = "SELECT * FROM Police_Sector_Geom"  #Name of table \n\n# Create a DataFrame from the SQL query\ndf_sector_geom = pd.read_sql(query, engine)\n'

In [5]:
df_violent.head(5)

,Month,Sector,SAFETY,S_RACE_AFRICAN_AMERICAN,S_RACE_ASIAN_AMERICAN,S_RACE_HISPANIC,S_RACE_WHITE,S_RACE_OTHER,S_AGE_LOW,S_AGE_MEDIUM,...,T_RESPECT_AGE_HIGH,T_RESPECT_SEX_FEMALE,T_RESPECT_SEX_MALE,T_RESPECT_EDUCATION_LOW,T_RESPECT_EDUCATION_MEDIUM,T_RESPECT_EDUCATION_HIGH,T_RESPECT_INCOME_LOW,T_RESPECT_INCOME_MEDIUM,T_RESPECT_INCOME_HIGH,Violent Crimes
0,2017-11,110.0,68.23,67.52,46.42,47.22,79.63,57.78,69.44,59.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66
1,2017-11,120.0,66.51,68.72,62.22,46.11,72.73,59.11,56.57,80.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71
2,2017-11,130.0,52.91,51.39,39.51,48.15,61.11,56.44,56.94,50.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60
3,2017-11,210.0,66.85,64.44,53.70,62.19,71.43,51.11,66.67,75.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105
4,2017-11,220.0,63.93,62.80,53.70,65.30,70.48,51.11,58.33,65.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104

### - HAD TO USE FILE LOCALLY SAVED ON MACHINE. IF NEED TO SAVE LOCALLY, CHANGE FILE PATH BELOW. FILE IN THIS GITHUB FOLDER
#### For whatever reason, formatting changes weren't working on file in database

In [6]:
df_sector_geom = pd.read_csv('/Users/ericchestnut/Documents/GitHub/Crime-Analysis/Chicago Crime ML Notebooks/police_sector_geom')

In [7]:
df_sector_geom.columns

Index(['SECTOR', 'geometry'], dtype='object')

In [8]:
df_sector_geom.dtypes

SECTOR       int64
geometry    object
dtype: object

In [9]:
#df_sector_geom = df_sector_geom.drop('Unnamed: 0', axis=1)
df_sector_geom

    SECTOR                                           geometry
0      110  POLYGON ((-87.6241874583793 41.88882269585851,...
1      120  POLYGON ((-87.63468593580227 41.86674615377552...
2      130  POLYGON ((-87.60904954502567 41.84726467020776...
3      210  POLYGON ((-87.61678285410099 41.81631294611196...
4      220  POLYGON ((-87.62262194314407 41.80091566144083...
5      230  POLYGON ((-87.61591637782084 41.78569469092247...
6      310  POLYGON ((-87.60064450658153 41.78411888431388...
7      320  POLYGON ((-87.59041823698206 41.76601548637797...
8      330  POLYGON ((-87.56627790830579 41.77354412847580...
9      410  POLYGON ((-87.56587391632135 41.73230422939753...
10     420  POLYGON ((-87.53064945368735 41.74648157436763...
11     430  POLYGON ((-87.52463639136381 41.69528913879945...
12     510  POLYGON ((-87.59285314373578 41.70031044883834...
13     520  POLYGON ((-87.62260116077397 41.67604663060256...
14     530  POLYGON ((-87.58888073353768 41.66025774569075...
15     610  POLYGON ((-87.64392332474596 41.74658018286311...
16     620  POLYGON ((-87.62485843621596 41.74687832559598...
17     630  POLYGON ((-87.60155675536387 41.73121485285478...
18     710  POLYGON ((-87.66522413787601 41.77943783788618...
19     720  POLYGON ((-87.669424641463 41.76848775324744, ...
20     730  POLYGON ((-87.6660567177209 41.757739281638926...
21     810  POLYGON ((-87.76201643294633 41.77438831987468...
22     820  POLYGON ((-87.69359156956365 41.77546623412924...
23     830  POLYGON ((-87.67861937853145 41.75928466856624...
24     910  POLYGON ((-87.68443177588918 41.82300033042630...
25     920  POLYGON ((-87.68373235910788 41.80388310175841...
26     930  POLYGON ((-87.66492591802975 41.79366436818513...
27    1010  POLYGON ((-87.71498422539116 41.85112331700547...
28    1020  POLYGON ((-87.70523984556766 41.85130671884965...
29    1030  POLYGON ((-87.7192686414866 41.82704184105909,...
30    1110  POLYGON ((-87.72569333107568 41.8815154992899,...
31    1120  POLYGON ((-87.69682625551164 41.87597143094574...
32    1130  POLYGON ((-87.68625627742273 41.87577763311078...
33    1210  POLYGON ((-87.6572839407317 41.885496066906896...
34    1220  POLYGON ((-87.67069850263034 41.87755988265525...
35    1230  POLYGON ((-87.63451421852272 41.86007115156524...
36    1410  POLYGON ((-87.70716006120726 41.91740070469419...
37    1420  POLYGON ((-87.6875043366775 41.90301049083262,...
38    1430  POLYGON ((-87.66495784792897 41.91815177050778...
39    1510  POLYGON ((-87.76491753485917 41.88208824302796...
40    1520  POLYGON ((-87.75513299843507 41.88216173508120...
41    1530  POLYGON ((-87.74533717589199 41.88169388499684...
42    1610  POLYGON ((-87.84573977977264 41.98773552915398...
43    1620  POLYGON ((-87.74750103637896 41.96010442725281...
44    1630  POLYGON ((-87.80682772400243 41.93799551608168...
45    1650  POLYGON ((-87.93529133792252 42.00072701149721...
46    1710  POLYGON ((-87.70472499089577 41.97576664149016...
47    1720  POLYGON ((-87.69712564909027 41.96478215426708...
48    1730  POLYGON ((-87.72746686972121 41.93909251793194...
49    1810  POLYGON ((-87.63942930560923 41.91110227020120...
50    1820  POLYGON ((-87.63434405789471 41.90032009042392...
51    1830  POLYGON ((-87.61554314098528 41.89562996135529...
52    1910  POLYGON ((-87.68118302521755 41.95412080192101...
53    1920  POLYGON ((-87.64973393902375 41.93997453296764...
54    1930  POLYGON ((-87.63210316773898 41.93252857124897...
55    2010  POLYGON ((-87.6893894435181 41.97588938293684,...
56    2020  POLYGON ((-87.64682220052784 41.97756349488062...
57    2030  POLYGON ((-87.68433934427526 41.96868051699872...
58    2210  POLYGON ((-87.65610934432888 41.70654465250349...
59    2220  POLYGON ((-87.63592472559661 41.73617884182008...
60    2230  POLYGON ((-87.64249254087191 41.68507716672824...
61    2410  POLYGON ((-87.67679986999474 41.99787564301836...
62    2420  POLYGON ((-87.68281067449801 42.01946657775932...
63    2430  POLYGON ((-87.6545275306463 41.99811285830745,...
64    2510  POLYGON ((-87.75626381459082 41.92732927797043...
65    2520  POLYGON ((-87.73244147570583 41.91709017702592...
66    2530  POLYGON ((-87.76320016662882 41.91500497754605...

In [10]:
df_sector_geom = gpd.GeoDataFrame(df_sector_geom, geometry=gpd.GeoSeries.from_wkt(df_sector_geom['geometry']))

df_sector_geom = gpd.GeoDataFrame(df_sector_geom, geometry='geometry')

In [11]:
df_census_pop = pd.read_csv('/Users/ericchestnut/Downloads/Population_by_2010_Census_Block_20240120.csv')
df_census_pop

       CENSUS BLOCK  CENSUS BLOCK FULL  TOTAL POPULATION
0         310003002    170310310003002               104
1         310003003    170310310003003                46
2         310003004    170310310003004                40
3         310003005    170310310003005                58
4         310003006    170310310003006                75
...             ...                ...               ...
46286    8419002052    170318419002052                 0
46287    8419002053    170318419002053                32
46288    8419002054    170318419002054               131
46289    8419002055    170318419002055                79
46290    8419002056    170318419002056                20

[46291 rows x 3 columns]

In [12]:
df_census_geo = pd.read_csv('/Users/ericchestnut/Downloads/CensusBlockTIGER2010 (1).csv')
df_census_geo

,the_geom,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,TRACT_BLOC
0,MULTIPOLYGON (((-87.6290679994106 41.769086000...,17,31,690300,2010,170316903002010,Block 2010,6903002010
1,MULTIPOLYGON (((-87.6341179992764 41.774465999...,17,31,680900,3007,170316809003007,Block 3007,6809003007
2,MULTIPOLYGON (((-87.63485400018324 41.77263300...,17,31,680900,3013,170316809003013,Block 3013,6809003013
3,MULTIPOLYGON (((-87.73841099998789 41.85913100...,17,31,290900,4019,170312909004019,Block 4019,2909004019
4,MULTIPOLYGON (((-87.73217300001724 41.85476400...,17,31,292500,4016,170312925004016,Block 4016,2925004016
...,...,...,...,...,...,...,...,...
46352,MULTIPOLYGON (((-87.69323300029735 41.92767000...,17,31,220300,1028,170312203001028,Block 1028,2203001028
46353,MULTIPOLYGON (((-87.69320200086439 41.92666600...,17,31,220300,1030,170312203001030,Block 1030,2203001030
46354,MULTIPOLYGON (((-87.67758599991872 41.91623799...,17,31,831000,2014,170318310002014,Block 2014,8310002014
46355,MULTIPOLYGON (((-87.67397599916275 41.91782700...,17,31,831000,2001,170318310002001,Block 2001,8310002001
46356,MULTIPOLYGON (((-87.69682600015756 41.92340400...,17,31,221400,1007,170312214001007,Block 1007,2214001007

## Joining Census Dataframes

In [13]:
df_census_geo = df_census_geo.rename(columns={'BLOCKCE10': 'CENSUS BLOCK', 'GEOID10': 'CENSUS BLOCK FULL'})
df_census = df_census_pop.merge(df_census_geo[['CENSUS BLOCK FULL', 'the_geom']], on='CENSUS BLOCK FULL', how='left')
df_census

,CENSUS BLOCK,CENSUS BLOCK FULL,TOTAL POPULATION,the_geom
0,310003002,170310310003002,104,MULTIPOLYGON (((-87.67349699939258 41.97245600...
1,310003003,170310310003003,46,MULTIPOLYGON (((-87.67431299936821 41.97336800...
2,310003004,170310310003004,40,MULTIPOLYGON (((-87.67426400055871 41.97244699...
3,310003005,170310310003005,58,MULTIPOLYGON (((-87.67349699939258 41.97245600...
4,310003006,170310310003006,75,MULTIPOLYGON (((-87.67190700061482 41.97247600...
...,...,...,...,...
46332,8419002052,170318419002052,0,MULTIPOLYGON (((-87.64502300001499 41.86445600...
46333,8419002053,170318419002053,32,MULTIPOLYGON (((-87.6488249994709 41.861841000...
46334,8419002054,170318419002054,131,MULTIPOLYGON (((-87.64986600011672 41.86229900...
46335,8419002055,170318419002055,79,MULTIPOLYGON (((-87.64561100040959 41.86236100...
46336,8419002056,170318419002056,20,MULTIPOLYGON (((-87.64561100040959 41.86236100...

In [14]:
import geopandas as gpd
import pandas as pd

# Assuming df_census_pop is your DataFrame with the 'geometry' column
# Clean and validate the 'geometry' column
df_census['the_geom'] = df_census['the_geom'].apply(lambda x: shapely.wkt.loads(x.strip()))  # Strip leading/trailing whitespace

# Create a GeoDataFrame
gdf_census = gpd.GeoDataFrame(df_census, geometry='the_geom')

In [15]:
# Spatial join to align geometries and aggregate population data
pop_df = gpd.sjoin(df_sector_geom, gdf_census, how='left', op='intersects')

# Group by 'SECTOR' and aggregate the population data
pop_df = pop_df.groupby('SECTOR')['TOTAL POPULATION'].sum().reset_index()

# Add the 'geometry' column from df_sector_geom
pop_df = pop_df.merge(df_sector_geom[['SECTOR', 'geometry']], on='SECTOR', how='left')

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py:3466: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [16]:
pop_df = pop_df.rename(columns={'SECTOR': 'Sector'})

pop_df.head(70)

,Sector,TOTAL POPULATION,geometry
0,110,18369,"POLYGON ((-87.62419 41.88882, -87.62403 41.888..."
1,120,25729,"POLYGON ((-87.63469 41.86675, -87.63470 41.866..."
2,130,27996,"POLYGON ((-87.60905 41.84726, -87.60872 41.846..."
3,210,31770,"POLYGON ((-87.61678 41.81631, -87.61678 41.816..."
4,220,38186,"POLYGON ((-87.62262 41.80092, -87.62260 41.800..."
5,230,45162,"POLYGON ((-87.61592 41.78569, -87.61636 41.785..."
6,310,25035,"POLYGON ((-87.60064 41.78412, -87.60034 41.784..."
7,320,33204,"POLYGON ((-87.59042 41.76602, -87.59041 41.766..."
8,330,33718,"POLYGON ((-87.56628 41.77354, -87.56628 41.773..."
9,410,40158,"POLYGON ((-87.56587 41.73230, -87.56587 41.732..."
10,420,41320,"POLYGON ((-87.53065 41.74648, -87.53065 41.746..."
11,430,47592,"POLYGON ((-87.52464 41.69529, -87.52464 41.695..."
12,510,32470,"POLYGON ((-87.59285 41.70031, -87.59298 41.700..."
13,520,29085,"POLYGON ((-87.62260 41.67605, -87.62259 41.675..."
14,530,18050,"POLYGON ((-87.58888 41.66026, -87.58868 41.660..."
15,610,36371,"POLYGON ((-87.64392 41.74658, -87.64391 41.746..."
16,620,32013,"POLYGON ((-87.62486 41.74688, -87.62485 41.746..."
17,630,33761,"POLYGON ((-87.60156 41.73121, -87.60192 41.729..."
18,710,24397,"POLYGON ((-87.66522 41.77944, -87.66546 41.779..."
19,720,25259,"POLYGON ((-87.66942 41.76849, -87.66960 41.768..."
20,730,27554,"POLYGON ((-87.66606 41.75774, -87.66728 41.757..."
21,810,89538,"POLYGON ((-87.76202 41.77439, -87.76218 41.774..."
22,820,81190,"POLYGON ((-87.69359 41.77547, -87.69376 41.775..."
23,830,90900,"POLYGON ((-87.67862 41.75928, -87.67857 41.757..."
24,910,71071,"POLYGON ((-87.68443 41.82300, -87.68444 41.823..."
25,920,67230,"POLYGON ((-87.68373 41.80388, -87.68372 41.803..."
26,930,35487,"POLYGON ((-87.66493 41.79366, -87.66511 41.793..."
27,1010,30962,"POLYGON ((-87.71498 41.85112, -87.71498 41.851..."
28,1020,31124,"POLYGON ((-87.70524 41.85131, -87.70523 41.851..."
29,1030,68425,"POLYGON ((-87.71927 41.82704, -87.71946 41.826..."
30,1110,27893,"POLYGON ((-87.72569 41.88152, -87.72569 41.881..."
31,1120,26367,"POLYGON ((-87.69683 41.87597, -87.69715 41.875..."
32,1130,27528,"POLYGON ((-87.68626 41.87578, -87.68625 41.875..."
33,1210,52019,"POLYGON ((-87.65728 41.88550, -87.65780 41.885..."
34,1220,35832,"POLYGON ((-87.67070 41.87756, -87.67163 41.876..."
35,1230,56616,"POLYGON ((-87.63451 41.86007, -87.63451 41.859..."
36,1410,49665,"POLYGON ((-87.70716 41.91740, -87.70754 41.917..."
37,1420,44599,"POLYGON ((-87.68750 41.90301, -87.68773 41.903..."
38,1430,38768,"POLYGON ((-87.66496 41.91815, -87.66475 41.917..."
39,1510,22733,"POLYGON ((-87.76492 41.88209, -87.76491 41.881..."
40,1520,24826,"POLYGON ((-87.75513 41.88216, -87.75513 41.882..."
41,1530,23545,"POLYGON ((-87.74534 41.88169, -87.74533 41.881..."
42,1610,60279,"POLYGON ((-87.84574 41.98774, -87.84537 41.987..."
43,1620,75712,"POLYGON ((-87.74750 41.96010, -87.74750 41.959..."
44,1630,71854,"POLYGON ((-87.80683 41.93800, -87.80703 41.937..."
45,1650,2,"POLYGON ((-87.93529 42.00073, -87.93551 42.000..."
46,1710,57956,"POLYGON ((-87.70472 41.97577, -87.70472 41.975..."
47,1720,57429,"POLYGON ((-87.69713 41.96478, -87.69708 41.964..."
48,1730,43788,"POLYGON ((-87.72747 41.93909, -87.72780 41.939..."
49,1810,41771,"POLYGON ((-87.63943 41.91110, -87.63981 41.911..."
50,1820,41405,"POLYGON ((-87.63434 41.90032, -87.63434 41.900..."
51,1830,48206,"POLYGON ((-87.61554 41.89563, -87.61553 41.895..."
52,1910,72303,"POLYGON ((-87.68118 41.95412, -87.68240 41.954..."
53,1920,78915,"POLYGON ((-87.64973 41.93997, -87.65007 41.939..."
54,1930,77967,"POLYGON ((-87.63210 41.93253, -87.63211 41.932..."
55,2010,42158,"POLYGON ((-87.68939 41.97589, -87.68978 41.975..."
56,2020,35470,"POLYGON ((-87.64682 41.97756, -87.64676 41.977..."
57,2030,29901,"POLYGON ((-87.68434 41.96868, -87.68457 41.968..."
58,2210,53604,"POLYGON ((-87.65611 41.70654, -87.65627 41.706..."
59,2220,27574,"POLYGON ((-87.63592 41.73618, -87.63566 41.736..."
60,2230,24947,"POLYGON ((-87.64249 41.68508, -87.64272 41.685..."
61,2410,66693,"POLYGON ((-87.67680 41.99788, -87.67678 41.997..."
62,2420,36562,"POLYGON ((-87.68281 42.01947, -87.68268 42.019..."
63,2430,53207,"POLYGON ((-87.65453 41.99811, -87.65450 41.997..."
64,2510,82359,"POLYGON ((-87.75626 41.92733, -87.75625 41.926..."
65,2520,77415,"POLYGON ((-87.73244 41.91709, -87.73267 41.917..."
66,2530,56615,"POLYGON ((-87.76320 41.91500, -87.76076 41.915..."

In [17]:
pop_df

,Sector,TOTAL POPULATION,geometry
0,110,18369,"POLYGON ((-87.62419 41.88882, -87.62403 41.888..."
1,120,25729,"POLYGON ((-87.63469 41.86675, -87.63470 41.866..."
2,130,27996,"POLYGON ((-87.60905 41.84726, -87.60872 41.846..."
3,210,31770,"POLYGON ((-87.61678 41.81631, -87.61678 41.816..."
4,220,38186,"POLYGON ((-87.62262 41.80092, -87.62260 41.800..."
5,230,45162,"POLYGON ((-87.61592 41.78569, -87.61636 41.785..."
6,310,25035,"POLYGON ((-87.60064 41.78412, -87.60034 41.784..."
7,320,33204,"POLYGON ((-87.59042 41.76602, -87.59041 41.766..."
8,330,33718,"POLYGON ((-87.56628 41.77354, -87.56628 41.773..."
9,410,40158,"POLYGON ((-87.56587 41.73230, -87.56587 41.732..."
10,420,41320,"POLYGON ((-87.53065 41.74648, -87.53065 41.746..."
11,430,47592,"POLYGON ((-87.52464 41.69529, -87.52464 41.695..."
12,510,32470,"POLYGON ((-87.59285 41.70031, -87.59298 41.700..."
13,520,29085,"POLYGON ((-87.62260 41.67605, -87.62259 41.675..."
14,530,18050,"POLYGON ((-87.58888 41.66026, -87.58868 41.660..."
15,610,36371,"POLYGON ((-87.64392 41.74658, -87.64391 41.746..."
16,620,32013,"POLYGON ((-87.62486 41.74688, -87.62485 41.746..."
17,630,33761,"POLYGON ((-87.60156 41.73121, -87.60192 41.729..."
18,710,24397,"POLYGON ((-87.66522 41.77944, -87.66546 41.779..."
19,720,25259,"POLYGON ((-87.66942 41.76849, -87.66960 41.768..."
20,730,27554,"POLYGON ((-87.66606 41.75774, -87.66728 41.757..."
21,810,89538,"POLYGON ((-87.76202 41.77439, -87.76218 41.774..."
22,820,81190,"POLYGON ((-87.69359 41.77547, -87.69376 41.775..."
23,830,90900,"POLYGON ((-87.67862 41.75928, -87.67857 41.757..."
24,910,71071,"POLYGON ((-87.68443 41.82300, -87.68444 41.823..."
25,920,67230,"POLYGON ((-87.68373 41.80388, -87.68372 41.803..."
26,930,35487,"POLYGON ((-87.66493 41.79366, -87.66511 41.793..."
27,1010,30962,"POLYGON ((-87.71498 41.85112, -87.71498 41.851..."
28,1020,31124,"POLYGON ((-87.70524 41.85131, -87.70523 41.851..."
29,1030,68425,"POLYGON ((-87.71927 41.82704, -87.71946 41.826..."
30,1110,27893,"POLYGON ((-87.72569 41.88152, -87.72569 41.881..."
31,1120,26367,"POLYGON ((-87.69683 41.87597, -87.69715 41.875..."
32,1130,27528,"POLYGON ((-87.68626 41.87578, -87.68625 41.875..."
33,1210,52019,"POLYGON ((-87.65728 41.88550, -87.65780 41.885..."
34,1220,35832,"POLYGON ((-87.67070 41.87756, -87.67163 41.876..."
35,1230,56616,"POLYGON ((-87.63451 41.86007, -87.63451 41.859..."
36,1410,49665,"POLYGON ((-87.70716 41.91740, -87.70754 41.917..."
37,1420,44599,"POLYGON ((-87.68750 41.90301, -87.68773 41.903..."
38,1430,38768,"POLYGON ((-87.66496 41.91815, -87.66475 41.917..."
39,1510,22733,"POLYGON ((-87.76492 41.88209, -87.76491 41.881..."
40,1520,24826,"POLYGON ((-87.75513 41.88216, -87.75513 41.882..."
41,1530,23545,"POLYGON ((-87.74534 41.88169, -87.74533 41.881..."
42,1610,60279,"POLYGON ((-87.84574 41.98774, -87.84537 41.987..."
43,1620,75712,"POLYGON ((-87.74750 41.96010, -87.74750 41.959..."
44,1630,71854,"POLYGON ((-87.80683 41.93800, -87.80703 41.937..."
45,1650,2,"POLYGON ((-87.93529 42.00073, -87.93551 42.000..."
46,1710,57956,"POLYGON ((-87.70472 41.97577, -87.70472 41.975..."
47,1720,57429,"POLYGON ((-87.69713 41.96478, -87.69708 41.964..."
48,1730,43788,"POLYGON ((-87.72747 41.93909, -87.72780 41.939..."
49,1810,41771,"POLYGON ((-87.63943 41.91110, -87.63981 41.911..."
50,1820,41405,"POLYGON ((-87.63434 41.90032, -87.63434 41.900..."
51,1830,48206,"POLYGON ((-87.61554 41.89563, -87.61553 41.895..."
52,1910,72303,"POLYGON ((-87.68118 41.95412, -87.68240 41.954..."
53,1920,78915,"POLYGON ((-87.64973 41.93997, -87.65007 41.939..."
54,1930,77967,"POLYGON ((-87.63210 41.93253, -87.63211 41.932..."
55,2010,42158,"POLYGON ((-87.68939 41.97589, -87.68978 41.975..."
56,2020,35470,"POLYGON ((-87.64682 41.97756, -87.64676 41.977..."
57,2030,29901,"POLYGON ((-87.68434 41.96868, -87.68457 41.968..."
58,2210,53604,"POLYGON ((-87.65611 41.70654, -87.65627 41.706..."
59,2220,27574,"POLYGON ((-87.63592 41.73618, -87.63566 41.736..."
60,2230,24947,"POLYGON ((-87.64249 41.68508, -87.64272 41.685..."
61,2410,66693,"POLYGON ((-87.67680 41.99788, -87.67678 41.997..."
62,2420,36562,"POLYGON ((-87.68281 42.01947, -87.68268 42.019..."
63,2430,53207,"POLYGON ((-87.65453 41.99811, -87.65450 41.997..."
64,2510,82359,"POLYGON ((-87.75626 41.92733, -87.75625 41.926..."
65,2520,77415,"POLYGON ((-87.73244 41.91709, -87.73267 41.917..."
66,2530,56615,"POLYGON ((-87.76320 41.91500, -87.76076 41.915..."

In [18]:

pop_df = gpd.GeoDataFrame(pop_df, geometry='geometry')

import geopandas as gpd


# Set the initial CRS for the DataFrame (e.g., EPSG:4326 for WGS 84)
initial_crs = 'EPSG:4326'

# Set the CRS for the DataFrame
pop_df.crs = initial_crs

# Define the CRS you want to use for reprojection (e.g., EPSG:3857 for Web Mercator)
desired_crs = 'EPSG:3857'

# Reproject the DataFrame to the desired CRS
pop_df = pop_df.to_crs(desired_crs)


# Calculate area (in square meters) for each sector
pop_df['Area_sqm'] = pop_df['geometry'].area

# Convert 'Area_sqm' to a more suitable unit (e.g., square kilometers)
pop_df['Area_sqkm'] = pop_df['Area_sqm'] / 1e6  # 1 square kilometer = 1,000,000 square meters

# Calculate population density (people per square kilometer)
pop_df['Population Density (people/sqkm)'] = pop_df['TOTAL POPULATION'] / pop_df['Area_sqkm']

In [19]:
pop_df.head(2)

,Sector,TOTAL POPULATION,geometry,Area_sqm,Area_sqkm,Population Density (people/sqkm)
0,110,18369,"POLYGON ((-9754279.929 5144340.144, -9754262.6...",4.463933e+06,4.463933,4114.981230
1,120,25729,"POLYGON ((-9755448.614 5141039.517, -9755449.7...",6.528496e+06,6.528496,3941.030089

In [20]:

# Merge violent_df with population_df based on a common identifier, e.g., 'SECTOR' or 'CENSUS BLOCK FULL'
merged_df = df_violent.merge(pop_df, on='Sector', how='left')

# Calculate Violent Crimes per Capita per 1,000 people
merged_df['Violent Crimes per Capita'] = (merged_df['Violent Crimes'] / merged_df['TOTAL POPULATION']) * 1000

In [21]:

# List of columns to drop
columns_to_drop = ['geometry', 'Area_sqm', 'Area_sqkm']

# Drop the specified columns
merged_df_model_2 = merged_df.drop(columns=columns_to_drop)

In [22]:
merged_df.head(2)

,Month,Sector,SAFETY,S_RACE_AFRICAN_AMERICAN,S_RACE_ASIAN_AMERICAN,S_RACE_HISPANIC,S_RACE_WHITE,S_RACE_OTHER,S_AGE_LOW,S_AGE_MEDIUM,...,T_RESPECT_INCOME_LOW,T_RESPECT_INCOME_MEDIUM,T_RESPECT_INCOME_HIGH,Violent Crimes,TOTAL POPULATION,geometry,Area_sqm,Area_sqkm,Population Density (people/sqkm),Violent Crimes per Capita
0,2017-11,110.0,68.23,67.52,46.42,47.22,79.63,57.78,69.44,59.44,...,NaN,NaN,NaN,66,18369,"POLYGON ((-9754279.929 5144340.144, -9754262.6...",4.463933e+06,4.463933,4114.981230,3.593010
1,2017-11,120.0,66.51,68.72,62.22,46.11,72.73,59.11,56.57,80.25,...,NaN,NaN,NaN,71,25729,"POLYGON ((-9755448.614 5141039.517, -9755449.7...",6.528496e+06,6.528496,3941.030089,2.759532

In [23]:
#Uploading new dataset

from sqlalchemy import create_engine

# Create the database engine
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}/{database}')

# Specify the new table name here
new_table_name = 'TIME_SERIES_REGRESSION_2'

# Upload the dataframe to the new table
merged_df_model_2.to_sql(new_table_name, con=engine, if_exists='replace', index=False)

4891

## Converting Housing Developments to be usable in dataframe
### Adding number of units developed in each Sector (2013-2024 data. No specific dates provided)

### Quick Updating of housing developments data, re-cleaning

In [24]:
#Quickly Updating values for database
housing = pd.read_csv('/Users/ericchestnut/Downloads/Affordable_Rental_Housing_Developments_20240121.csv')

In [25]:
#Uploading Updated Housing

from sqlalchemy import create_engine

# Create the database engine
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}/{database}')

# Specify the new table name here
new_table_name = 'Housing_Developments'

# Upload the dataframe to the new table
housing.to_sql(new_table_name, con=engine, if_exists='replace', index=False)

584

In [26]:
#Loading housing data from data base

import pandas as pd
from sqlalchemy import create_engine

# Database credentials
username = 'crimeadmin'
password = '4DAnuuSBWVQ92w!F'
host = 'crimedbmysql.cspoouh9lugd.us-east-2.rds.amazonaws.com'
database = 'crimedb_mysql'
port = '3306'  # default MySQL port

# Create the database engine
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}')

# SQL query or table name
query = "SELECT * FROM Housing_Developments"  #Name of table 

# Create a DataFrame from the SQL query
housing_df = pd.read_sql(query, engine)

In [27]:
housing_df.head(1)

,Community Area Name,Community Area Number,Property Type,Property Name,Address,Zip Code,Phone Number,Management Company,Units,X Coordinate,Y Coordinate,Latitude,Longitude,Location
0,Logan Square,22,ARO,Motif on Belden,2845 W. Belden Ave.,60647,773-327-6617,33 Realty,10,1156843.581,1915231.888,41.923172,-87.699125,"(41.9231717544125, -87.6991246890431)"

In [28]:
import pandas as pd

# Assuming housing_df is your existing DataFrame

# Get all unique values in the 'Property Type' column
unique_property_types = housing_df['Property Type'].unique()

# Display the unique property types
print(unique_property_types)

['ARO' 'Supportive Housing' 'Multifamily' 'Senior' 'Mutifamily'
 '65+/Supportive' 'Supportive/Teenage Moms' 'Senior HUD 202' 'Veterans'
 'SRO/Supportive' 'People with Disabilities' 'Senior Supportive Living'
 'Inter-generational' 'Supportive' 'Senior LGBTQ' 'Supportive/Veterans'
 'Seniors' 'Supportive/Kinship Families'
 'Supportive/Youth/Kinship Families' 'Supportive/Males 18-24yrs.'
 'Artist Housing' 'Multifamily/Artists' 'SRO' 'Multfamily'
 'Artist Live/Work Space' 'Supportive/HIV/AIDS' "Women's Supportive"
 'Disabled/Homeless' 'Artists & Families' 'Artist/Family']

In [29]:
#Removing certain housing developments due to likely not having signifiacnt impact on community/crime
#Add or remove docstrings if want to change dataset for model

# List of housing types to be excluded
exclude_types = [
    'Artist Housing', 'Multifamily/Artists', 'Artist Live/Work Space', 
    'Artists & Families', 'Artist/Family', 'Senior HUD 202',
    'Senior LGBTQ',  
    'Inter-generational'
]

# Drop rows that contain these types in the 'Primary Type' column
housing_df = housing_df[~housing_df['Property Type'].isin(exclude_types)]

# Keep only rows that contain these types in the 'Property Type' column
#housing_df = housing_df[housing_df['Property Type'].isin(exclude_types)]


# Display the updated DataFrame
housing_df['Property Type'].unique()

array(['ARO', 'Supportive Housing', 'Multifamily', 'Senior', 'Mutifamily',
       '65+/Supportive', 'Supportive/Teenage Moms', 'Veterans',
       'SRO/Supportive', 'People with Disabilities',
       'Senior Supportive Living', 'Supportive', 'Supportive/Veterans',
       'Seniors', 'Supportive/Kinship Families',
       'Supportive/Youth/Kinship Families', 'Supportive/Males 18-24yrs.',
       'SRO', 'Multfamily', 'Supportive/HIV/AIDS', "Women's Supportive",
       'Disabled/Homeless'], dtype=object)

### Checking for missing Values
#### 3 rows didnt have Location values. Created function below to convert Lat and Lon for geocoordinates instead of Location

In [30]:
# Filter the DataFrame to only include rows where 'Location' is None or NaN
rows_with_missing_location = housing_df[housing_df['Location'].isna()]

# Display these rows
rows_with_missing_location

,Community Area Name,Community Area Number,Property Type,Property Name,Address,Zip Code,Phone Number,Management Company,Units,X Coordinate,Y Coordinate,Latitude,Longitude,Location
99,Armour Square,34,Multifamily,Archer Courts Apts.,2242 S. Princeton Ave.,60616,312-791-0458,"Prairie Management & Development, Inc.",147,1174528.583,1889278.897,41.851578,-87.634920,None
367,Near South Side,33,ARO,1400 S Wabash,1400 S. Wabash Ave.,60605,312-739-3005,Greystar Property Management,8,1176949.910,1893820.089,41.863985,-87.625896,None
379,Avondale,21,Multifamily,Hairpin Lofts,3414 W. Diversey Ave.,60647,773-292-6360,Leasing & Management Co. Inc.,25,1153078.890,1918447.998,41.932073,-87.712872,None

In [31]:
#No missing values for Lat and Lon

# Filter the DataFrame to only include rows where 'Location' is None or NaN
rows_with_missing_location = housing_df[housing_df['Latitude'].isna()]

# Display these rows
rows_with_missing_location

Empty DataFrame
Columns: [Community Area Name, Community Area Number, Property Type, Property Name, Address, Zip Code, Phone Number, Management Company, Units, X Coordinate, Y Coordinate, Latitude, Longitude, Location]
Index: []

In [32]:
columns_to_drop = ['Zip Code', 
                   'Phone Number', 
                   'Management Company', 
                   'Community Area Number', 
                   'Community Area Number',
                   'Property Type',
                   'Property Name',
                   'Address',
                   'X Coordinate',
                   'Y Coordinate',
                   #'Latitude',
                   #'Longitude',
                   'Community Area Name',
                   #'Location'
                  ]

housing_clean = housing_df.drop(columns=columns_to_drop)
housing_clean

     Units   Latitude  Longitude                                  Location
0       10  41.923172 -87.699125     (41.9231717544125, -87.6991246890431)
1       57  41.886727 -87.770133     (41.8867274206876, -87.7701332901046)
2       71  41.815550 -87.622857      (41.815550396096, -87.6228565224104)
3       52  41.912723 -87.701449     (41.9127226903358, -87.7014489336157)
4        6  41.961913 -87.652902   (41.96191266175898, -87.65290163994482)
..     ...        ...        ...                                       ...
579     18  41.910354 -87.694404     (41.9103537220529, -87.6944040130463)
580      2  41.908979 -87.669494     (41.9089794761552, -87.6694940511534)
581     99  41.991866 -87.709545     (41.9918656495183, -87.7095450826125)
582      2  41.948185 -87.658146  (41.948184520219066, -87.65814610572426)
583      7  41.975107 -87.659250  (41.975107346793216, -87.65924996027928)

[570 rows x 4 columns]

### Creating GeoDataframe for joining with main dataset

In [33]:
from shapely.geometry import Point

# Function to create a Point object from latitude and longitude
def create_point(lat, lon):
    return Point(lon, lat)

# Function to convert location string to a Point object
def convert_to_point(location_str):
    if pd.isna(location_str):
        return None
    lat, lon = map(float, location_str.strip('()').split(', '))
    return Point(lon, lat)

# Use 'Location' if available, otherwise use 'Latitude' and 'Longitude'
housing_clean['geometry'] = housing_clean.apply(
    lambda row: convert_to_point(row['Location']) if pd.notna(row['Location']) else create_point(row['Latitude'], row['Longitude']),
    axis=1
)

# Create a GeoDataFrame
gdf = gpd.GeoDataFrame(housing_clean, geometry='geometry')





#Dropping columns that don't need for joining table 
columns_to_drop = [
                   'Latitude',
                   'Longitude',
                   'Location']

gdf_housing = gdf.drop(columns=columns_to_drop)

gdf_housing

     Units                    geometry
0       10  POINT (-87.69912 41.92317)
1       57  POINT (-87.77013 41.88673)
2       71  POINT (-87.62286 41.81555)
3       52  POINT (-87.70145 41.91272)
4        6  POINT (-87.65290 41.96191)
..     ...                         ...
579     18  POINT (-87.69440 41.91035)
580      2  POINT (-87.66949 41.90898)
581     99  POINT (-87.70955 41.99187)
582      2  POINT (-87.65815 41.94818)
583      7  POINT (-87.65925 41.97511)

[570 rows x 2 columns]

In [34]:
#Checking for any missed values. All clear

# Filter the DataFrame to only include rows where 'Location' is None or NaN
rows_with_missing_location = housing_clean[housing_clean['geometry'].isna()]

# Display these rows
rows_with_missing_location

Empty DataFrame
Columns: [Units, Latitude, Longitude, Location, geometry]
Index: []

### Joining Datasets. Adding total Units per Sector in new column for analysis

In [35]:
merged_df = gpd.GeoDataFrame(merged_df, geometry='geometry')


# Check and set CRS for 'gdf_housing'
if gdf_housing.crs is None:
    gdf_housing.set_crs("EPSG:4326", inplace=True)

# Check and set CRS for 'merged_df'
if merged_df.crs is None:
    merged_df.set_crs("EPSG:4326", inplace=True)

# Ensure both GeoDataFrames are in the same CRS
gdf_housing = gdf_housing.to_crs(merged_df.crs)

# Perform the spatial join
joined_gdf = gpd.sjoin(gdf_housing, merged_df, how="inner", op="within")

# Group by Sector and aggregate Units
aggregated_data = joined_gdf.groupby('Sector')['Units'].sum().reset_index()

# Merge the aggregated data back with the polygon GeoDataFrame using a left join
merged_df = merged_df.merge(aggregated_data, on='Sector', how='left')

# Replace NaN values in 'Units' with 0
merged_df['Units'].fillna(0, inplace=True)

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py:3466: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

### Cleaning and uploading to database

In [36]:
#Adding standardized numbers for units based on size of sector and population of sector

# Calculate Units per Square Kilometer
merged_df['Units per SqKm'] = merged_df['Units'] / merged_df['Area_sqkm']

# Calculate Units per Capita
merged_df['Units per Capita'] = merged_df['Units'] / merged_df['TOTAL POPULATION']

merged_df.head(5)

,Month,Sector,SAFETY,S_RACE_AFRICAN_AMERICAN,S_RACE_ASIAN_AMERICAN,S_RACE_HISPANIC,S_RACE_WHITE,S_RACE_OTHER,S_AGE_LOW,S_AGE_MEDIUM,...,Violent Crimes,TOTAL POPULATION,geometry,Area_sqm,Area_sqkm,Population Density (people/sqkm),Violent Crimes per Capita,Units,Units per SqKm,Units per Capita
0,2017-11,110.0,68.23,67.52,46.42,47.22,79.63,57.78,69.44,59.44,...,66,18369,"POLYGON ((-9754279.929 5144340.144, -9754262.6...",4.463933e+06,4.463933,4114.981230,3.593010,511.0,114.473047,0.027819
1,2017-11,120.0,66.51,68.72,62.22,46.11,72.73,59.11,56.57,80.25,...,71,25729,"POLYGON ((-9755448.614 5141039.517, -9755449.7...",6.528496e+06,6.528496,3941.030089,2.759532,1168.0,178.907969,0.045396
2,2017-11,130.0,52.91,51.39,39.51,48.15,61.11,56.44,56.94,50.43,...,60,27996,"POLYGON ((-9752594.784 5138127.819, -9752557.8...",1.091171e+07,10.911707,2565.684765,2.143163,117311.0,10750.930330,4.190277
3,2017-11,210.0,66.85,64.44,53.70,62.19,71.43,51.11,66.67,75.56,...,105,31770,"POLYGON ((-9753455.652 5133503.605, -9753454.9...",1.241780e+07,12.417800,2558.424123,3.305005,249149.0,20063.859360,7.842273
4,2017-11,220.0,63.93,62.80,53.70,65.30,70.48,51.11,58.33,65.28,...,104,38186,"POLYGON ((-9754105.657 5131204.069, -9754103.2...",1.057946e+07,10.579456,3609.448259,2.723511,87162.0,8238.797706,2.282564

In [37]:
# List of columns to drop
columns_to_drop = ['geometry', 'Area_sqm', 'Area_sqkm']

# Drop the specified columns
merged_df_model_3 = merged_df.drop(columns=columns_to_drop)

In [38]:
merged_df_model_3.head(5)

,Month,Sector,SAFETY,S_RACE_AFRICAN_AMERICAN,S_RACE_ASIAN_AMERICAN,S_RACE_HISPANIC,S_RACE_WHITE,S_RACE_OTHER,S_AGE_LOW,S_AGE_MEDIUM,...,T_RESPECT_INCOME_LOW,T_RESPECT_INCOME_MEDIUM,T_RESPECT_INCOME_HIGH,Violent Crimes,TOTAL POPULATION,Population Density (people/sqkm),Violent Crimes per Capita,Units,Units per SqKm,Units per Capita
0,2017-11,110.0,68.23,67.52,46.42,47.22,79.63,57.78,69.44,59.44,...,NaN,NaN,NaN,66,18369,4114.981230,3.593010,511.0,114.473047,0.027819
1,2017-11,120.0,66.51,68.72,62.22,46.11,72.73,59.11,56.57,80.25,...,NaN,NaN,NaN,71,25729,3941.030089,2.759532,1168.0,178.907969,0.045396
2,2017-11,130.0,52.91,51.39,39.51,48.15,61.11,56.44,56.94,50.43,...,NaN,NaN,NaN,60,27996,2565.684765,2.143163,117311.0,10750.930330,4.190277
3,2017-11,210.0,66.85,64.44,53.70,62.19,71.43,51.11,66.67,75.56,...,NaN,NaN,NaN,105,31770,2558.424123,3.305005,249149.0,20063.859360,7.842273
4,2017-11,220.0,63.93,62.80,53.70,65.30,70.48,51.11,58.33,65.28,...,NaN,NaN,NaN,104,38186,3609.448259,2.723511,87162.0,8238.797706,2.282564

In [39]:
#Uploading new dataset

from sqlalchemy import create_engine

# Create the database engine
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}/{database}')

# Specify the new table name here
new_table_name = 'TIME_SERIES_REGRESSION_4'

# Upload the dataframe to the new table
merged_df_model_3.to_sql(new_table_name, con=engine, if_exists='replace', index=False)

4891

## Adding Grocery Store Data to Features

In [ ]:
Cleaned_Grocery_Stores_2013