## Imports and Loading Datasets

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from scipy import stats
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely.geometry import Polygon, MultiPolygon
from shapely.wkt import loads
import shapely.wkt

from shapely import wkt
from shapely.geometry import Point

pd.set_option('display.max_rows', 100)

/Users/Emi/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Bringing in Crime Dataframe & Census Population Counts

In [2]:
#REFINED DATAFRAME OF VIOLENT CRIME. ONLY INCLUDES ASSAULT, BATTERY, AND HOMICIDE

import pandas as pd
from sqlalchemy import create_engine

# Database credentials
username = 'crimeadmin'
password = '4DAnuuSBWVQ92w!F'
host = 'crimedbmysql.cspoouh9lugd.us-east-2.rds.amazonaws.com'
database = 'crimedb_mysql'
port = '3306'  # default MySQL port

# Create the database engine
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}')

# SQL query or table name
query = "SELECT * FROM ML_VIOLENT_REVISED"  #Name of table 

# Create a DataFrame from the SQL query
df_violent = pd.read_sql(query, engine)

In [3]:
df_community_area_geom = pd.read_csv('/Users/Emi/Downloads/CommAreas (2).csv')

In [4]:
df_community_area_geom.columns

Index(['the_geom', 'PERIMETER', 'AREA', 'COMAREA_', 'COMAREA_ID', 'AREA_NUMBE',
       'COMMUNITY', 'AREA_NUM_1', 'SHAPE_AREA', 'SHAPE_LEN'],
      dtype='object')

In [5]:
#df_community_area_geom = df_community_area_geom.drop('Unnamed: 0', axis=1)
df_community_area_geom

,the_geom,PERIMETER,AREA,COMAREA_,COMAREA_ID,AREA_NUMBE,COMMUNITY,AREA_NUM_1,SHAPE_AREA,SHAPE_LEN
0,MULTIPOLYGON (((-87.60914087617894 41.84469250...,0,0,0,0,35,DOUGLAS,35,4.600462e+07,31027.054510
1,MULTIPOLYGON (((-87.59215283879394 41.81692934...,0,0,0,0,36,OAKLAND,36,1.691396e+07,19565.506153
2,MULTIPOLYGON (((-87.62879823733725 41.80189303...,0,0,0,0,37,FULLER PARK,37,1.991670e+07,25339.089750
3,MULTIPOLYGON (((-87.6067081256125 41.816813770...,0,0,0,0,38,GRAND BOULEVARD,38,4.849250e+07,28196.837157
4,MULTIPOLYGON (((-87.59215283879394 41.81692934...,0,0,0,0,39,KENWOOD,39,2.907174e+07,23325.167906
5,MULTIPOLYGON (((-87.6744075678037 41.976103404...,0,0,0,0,4,LINCOLN SQUARE,4,7.135233e+07,36624.603085
6,MULTIPOLYGON (((-87.60603749217005 41.78587406...,0,0,0,0,40,WASHINGTON PARK,40,4.237388e+07,28175.316087
7,MULTIPOLYGON (((-87.58037662085418 41.80252502...,0,0,0,0,41,HYDE PARK,41,4.510538e+07,29746.708202
8,MULTIPOLYGON (((-87.57714456891335 41.78614641...,0,0,0,0,42,WOODLAWN,42,5.781518e+07,46936.959244
9,MULTIPOLYGON (((-87.65455590025104 41.99816614...,0,0,0,0,1,ROGERS PARK,1,5.125990e+07,34052.397576
10,MULTIPOLYGON (((-87.75263506823083 41.96796746...,0,0,0,0,11,JEFFERSON PARK,11,6.486816e+07,44011.957170
11,MULTIPOLYGON (((-87.76918527760162 42.00488913...,0,0,0,0,12,FOREST GLEN,12,8.913089e+07,74493.821604
12,MULTIPOLYGON (((-87.70690177438968 41.98308046...,0,0,0,0,13,NORTH PARK,13,7.028871e+07,41581.948654
13,MULTIPOLYGON (((-87.70403771340908 41.97355158...,0,0,0,0,14,ALBANY PARK,14,5.354223e+07,39339.016439
14,MULTIPOLYGON (((-87.75263506823083 41.96796746...,0,0,0,0,15,PORTAGE PARK,15,1.101961e+08,46520.642138
15,MULTIPOLYGON (((-87.69474577254876 41.96127342...,0,0,0,0,16,IRVING PARK,16,8.961138e+07,49083.224094
16,MULTIPOLYGON (((-87.77621462942231 41.93844814...,0,0,0,0,17,DUNNING,17,1.035950e+08,54555.992534
17,MULTIPOLYGON (((-87.78941511405804 41.91751009...,0,0,0,0,18,MONTCLARE,18,2.757639e+07,22404.852145
18,MULTIPOLYGON (((-87.74133544805805 41.91389760...,0,0,0,0,19,BELMONT CRAGIN,19,1.090994e+08,43311.707379
19,MULTIPOLYGON (((-87.6846530946559 42.019484772...,0,0,0,0,2,WEST RIDGE,2,9.842909e+07,43020.689458
20,MULTIPOLYGON (((-87.73146013484016 41.93173397...,0,0,0,0,20,HERMOSA,20,3.260206e+07,27179.017438
21,MULTIPOLYGON (((-87.6879867878517 41.936103940...,0,0,0,0,21,AVONDALE,21,5.529060e+07,34261.933404
22,MULTIPOLYGON (((-87.68284015972066 41.93222871...,0,0,0,0,22,LOGAN SQUARE,22,1.000576e+08,49213.421749
23,MULTIPOLYGON (((-87.69157000948773 41.88819563...,0,0,0,0,23,HUMBOLDT PARK,23,1.004809e+08,48583.064330
24,MULTIPOLYGON (((-87.65686079759237 41.91078450...,0,0,0,0,24,WEST TOWN,24,1.275629e+08,55203.718696
25,MULTIPOLYGON (((-87.78941511405804 41.91751009...,0,0,0,0,25,AUSTIN,25,1.992542e+08,75226.474917
26,MULTIPOLYGON (((-87.72023936013656 41.86986908...,0,0,0,0,26,WEST GARFIELD PARK,26,3.609285e+07,26238.541980
27,MULTIPOLYGON (((-87.69157000948773 41.88819563...,0,0,0,0,27,EAST GARFIELD PARK,27,5.388322e+07,31514.625957
28,MULTIPOLYGON (((-87.6375883858287 41.886234136...,0,0,0,0,28,NEAR WEST SIDE,28,1.584925e+08,53003.592941
29,MULTIPOLYGON (((-87.72023936013656 41.86986908...,0,0,0,0,29,NORTH LAWNDALE,29,8.948742e+07,44959.459663
30,MULTIPOLYGON (((-87.64102430213292 41.95480280...,0,0,0,0,3,UPTOWN,3,6.509564e+07,46972.794555
31,MULTIPOLYGON (((-87.68739948177965 41.83480098...,0,0,0,0,30,SOUTH LAWNDALE,30,1.279983e+08,49904.045210
32,MULTIPOLYGON (((-87.63515815937588 41.85772209...,0,0,0,0,31,LOWER WEST SIDE,31,8.155072e+07,43229.372704
33,MULTIPOLYGON (((-87.60914087617894 41.84469250...,0,0,0,0,33,NEAR SOUTH SIDE,33,4.976964e+07,45053.165104
34,MULTIPOLYGON (((-87.62916818464839 41.84555660...,0,0,0,0,34,ARMOUR SQUARE,34,2.776620e+07,31948.598840
35,MULTIPOLYGON (((-87.78002228630051 41.99741355...,0,0,0,0,10,NORWOOD PARK,10,1.219591e+08,80368.374378
36,MULTIPOLYGON (((-87.62446476694345 41.91156699...,0,0,0,0,8,NEAR NORTH SIDE,8,7.667590e+07,57293.164952
37,MULTIPOLYGON (((-87.6094858028664 41.889399110...,0,0,0,0,32,LOOP,32,4.633557e+07,39428.672996
38,MULTIPOLYGON (((-87.5439781171137 41.755152222...,0,0,0,0,43,SOUTH SHORE,43,8.181272e+07,44249.646117
39,MULTIPOLYGON (((-87.5953474089973 41.736782372...,0,0,0,0,44,CHATHAM,44,8.232067e+07,42006.945009
40,MULTIPOLYGON (((-87.58565529834297 41.75150194...,0,0,0,0,45,AVALON PARK,45,3.485274e+07,27630.822534
41,MULTIPOLYGON (((-87.5439781171137 41.755152222...,0,0,0,0,46,SOUTH CHICAGO,46,9.327219e+07,52435.979431
42,MULTIPOLYGON (((-87.5873743160066 41.723256356...,0,0,0,0,47,BURNSIDE,47,1.699598e+07,18137.944253
43,MULTIPOLYGON (((-87.65611232131043 41.82331366...,0,0,0,0,59,MCKINLEY PARK,59,3.943180e+07,26014.096837
44,MULTIPOLYGON (((-87.64102430213292 41.95480280...,0,0,0,0,6,LAKE VIEW,6,8.721480e+07,51973.096868
45,MULTIPOLYGON (((-87.54567696316127 41.72282057...,0,0,0,0,48,CALUMET HEIGHTS,48,4.882624e+07,32925.365871
46,MULTIPOLYGON (((-87.60449169338277 41.72254809...,0,0,0,0,49,ROSELAND,49,1.343137e+08,56632.795429
47,MULTIPOLYGON (((-87.67336415409336 41.93234274...,0,0,0,0,5,NORTH CENTER,5,5.705417e+07,31391.669754
48,MULTIPOLYGON (((-87.60157012805959 41.68620935...,0,0,0,0,50,PULLMAN,50,5.900156e+07,35572.069508
49,MULTIPOLYGON (((-87.54567696316127 41.72282057...,0,0,0,0,51,SOUTH DEERING,51,3.037971e+08,80389.871800
50,MULTIPOLYGON (((-87.52462014976344 41.69180077...,0,0,0,0,52,EAST SIDE,52,8.324173e+07,52274.192849
51,MULTIPOLYGON (((-87.61828127817006 41.65910686...,0,0,0,0,53,WEST PULLMAN,53,9.936520e+07,50023.843001
52,MULTIPOLYGON (((-87.60157012805959 41.68620935...,0,0,0,0,54,RIVERDALE,54,9.838950e+07,46455.440857
53,MULTIPOLYGON (((-87.52462014976344 41.69180077...,0,0,0,0,55,HEGEWISCH,55,1.459657e+08,73692.382132
54,MULTIPOLYGON (((-87.73855658143222 41.81870614...,0,0,0,0,56,GARFIELD RIDGE,56,1.178908e+08,60080.447970
55,MULTIPOLYGON (((-87.71436934736698 41.82604056...,0,0,0,0,57,ARCHER HEIGHTS,57,5.592251e+07,31880.021029
56,MULTIPOLYGON (((-87.68423972711724 41.82299979...,0,0,0,0,58,BRIGHTON PARK,58,7.589279e+07,36537.134306
57,MULTIPOLYGON (((-87.63396392307392 41.82361328...,0,0,0,0,60,BRIDGEPORT,60,5.829152e+07,32732.718327
58,MULTIPOLYGON (((-87.63545749912363 41.79447604...,0,0,0,0,61,NEW CITY,61,1.346370e+08,48133.595961
59,MULTIPOLYGON (((-87.71377631235104 41.80392803...,0,0,0,0,62,WEST ELSDON,62,3.271109e+07,26229.695601
60,MULTIPOLYGON (((-87.67881500395919 41.79386785...,0,0,0,0,63,GAGE PARK,63,6.128490e+07,32294.195911
61,MULTIPOLYGON (((-87.73762325643321 41.78578319...,0,0,0,0,64,CLEARING,64,7.114519e+07,45363.286175
62,MULTIPOLYGON (((-87.71254775561886 41.75733733...,0,0,0,0,65,WEST LAWN,65,8.231530e+07,41934.490131
63,MULTIPOLYGON (((-87.67815131700259 41.75765952...,0,0,0,0,66,CHICAGO LAWN,66,9.827947e+07,40073.099838
64,MULTIPOLYGON (((-87.65487424668116 41.79417187...,0,0,0,0,67,WEST ENGLEWOOD,67,8.794769e+07,40195.203307
65,MULTIPOLYGON (((-87.62826259187158 41.78316030...,0,0,0,0,68,ENGLEWOOD,68,8.565232e+07,42316.844297
66,MULTIPOLYGON (((-87.61562233043774 41.78023913...,0,0,0,0,69,GREATER GRAND CROSSING,69,9.885317e+07,54645.330300
67,MULTIPOLYGON (((-87.63181810269614 41.93258180...,0,0,0,0,7,LINCOLN PARK,7,8.831640e+07,49478.427771
68,MULTIPOLYGON (((-87.71254775561886 41.75733733...,0,0,0,0,70,ASHBURN,70,1.354603e+08,54818.154632
69,MULTIPOLYGON (((-87.63990005779257 41.75614578...,0,0,0,0,71,AUBURN GRESHAM,71,1.050654e+08,46757.721716
70,MULTIPOLYGON (((-87.67308255594219 41.73565672...,0,0,0,0,72,BEVERLY,72,8.877936e+07,44591.485101
71,MULTIPOLYGON (((-87.63373383514987 41.72885272...,0,0,0,0,73,WASHINGTON HEIGHTS,73,7.963575e+07,42222.598163
72,MULTIPOLYGON (((-87.69645961375822 41.70714491...,0,0,0,0,74,MOUNT GREENWOOD,74,7.558429e+07,48665.130539
73,MULTIPOLYGON (((-87.64215204651398 41.68508211...,0,0,0,0,75,MORGAN PARK,75,9.187734e+07,46396.419362
74,MULTIPOLYGON (((-87.83658087874365 41.98639611...,0,0,0,0,76,OHARE,76,3.718356e+08,173625.984660
75,MULTIPOLYGON (((-87.65455590025104 41.99816614...,0,0,0,0,77,EDGEWATER,77,4.844999e+07,31004.830946
76,MULTIPOLYGON (((-87.80675853375328 42.00083736...,0,0,0,0,9,EDISON PARK,9,3.163631e+07,25937.226841

In [6]:
df_community_area_geom['geometry'] = df_community_area_geom['the_geom'].apply(wkt.loads)
df_community_area_geom = gpd.GeoDataFrame(df_community_area_geom, geometry='geometry')

In [7]:
df_census_pop = pd.read_csv('/Users/Emi/Documents/GitHub/Crime-Analysis/Population_by_2010_Census_Block_20240122.csv')
df_census_pop

       CENSUS BLOCK  CENSUS BLOCK FULL  TOTAL POPULATION
0         310003002    170310310003002               104
1         310003003    170310310003003                46
2         310003004    170310310003004                40
3         310003005    170310310003005                58
4         310003006    170310310003006                75
...             ...                ...               ...
46286    8419002052    170318419002052                 0
46287    8419002053    170318419002053                32
46288    8419002054    170318419002054               131
46289    8419002055    170318419002055                79
46290    8419002056    170318419002056                20

[46291 rows x 3 columns]

In [8]:
df_census_geo = pd.read_csv('/Users/Emi/Downloads/CensusBlockTIGER2010.csv')
df_census_geo

,the_geom,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,TRACT_BLOC
0,MULTIPOLYGON (((-87.6290679994106 41.769086000...,17,31,690300,2010,170316903002010,Block 2010,6903002010
1,MULTIPOLYGON (((-87.6341179992764 41.774465999...,17,31,680900,3007,170316809003007,Block 3007,6809003007
2,MULTIPOLYGON (((-87.63485400018324 41.77263300...,17,31,680900,3013,170316809003013,Block 3013,6809003013
3,MULTIPOLYGON (((-87.73841099998789 41.85913100...,17,31,290900,4019,170312909004019,Block 4019,2909004019
4,MULTIPOLYGON (((-87.73217300001724 41.85476400...,17,31,292500,4016,170312925004016,Block 4016,2925004016
...,...,...,...,...,...,...,...,...
46352,MULTIPOLYGON (((-87.69323300029735 41.92767000...,17,31,220300,1028,170312203001028,Block 1028,2203001028
46353,MULTIPOLYGON (((-87.69320200086439 41.92666600...,17,31,220300,1030,170312203001030,Block 1030,2203001030
46354,MULTIPOLYGON (((-87.67758599991872 41.91623799...,17,31,831000,2014,170318310002014,Block 2014,8310002014
46355,MULTIPOLYGON (((-87.67397599916275 41.91782700...,17,31,831000,2001,170318310002001,Block 2001,8310002001
46356,MULTIPOLYGON (((-87.69682600015756 41.92340400...,17,31,221400,1007,170312214001007,Block 1007,2214001007

## Joining Census Dataframes

In [9]:
df_census_geo = df_census_geo.rename(columns={'BLOCKCE10': 'CENSUS BLOCK', 'GEOID10': 'CENSUS BLOCK FULL'})
df_census = df_census_pop.merge(df_census_geo[['CENSUS BLOCK FULL', 'the_geom']], on='CENSUS BLOCK FULL', how='left')
df_census

,CENSUS BLOCK,CENSUS BLOCK FULL,TOTAL POPULATION,the_geom
0,310003002,170310310003002,104,MULTIPOLYGON (((-87.67349699939258 41.97245600...
1,310003003,170310310003003,46,MULTIPOLYGON (((-87.67431299936821 41.97336800...
2,310003004,170310310003004,40,MULTIPOLYGON (((-87.67426400055871 41.97244699...
3,310003005,170310310003005,58,MULTIPOLYGON (((-87.67349699939258 41.97245600...
4,310003006,170310310003006,75,MULTIPOLYGON (((-87.67190700061482 41.97247600...
...,...,...,...,...
46332,8419002052,170318419002052,0,MULTIPOLYGON (((-87.64502300001499 41.86445600...
46333,8419002053,170318419002053,32,MULTIPOLYGON (((-87.6488249994709 41.861841000...
46334,8419002054,170318419002054,131,MULTIPOLYGON (((-87.64986600011672 41.86229900...
46335,8419002055,170318419002055,79,MULTIPOLYGON (((-87.64561100040959 41.86236100...
46336,8419002056,170318419002056,20,MULTIPOLYGON (((-87.64561100040959 41.86236100...

In [10]:
import geopandas as gpd
import pandas as pd

# Assuming df_census_pop is your DataFrame with the 'geometry' column
# Clean and validate the 'geometry' column
df_census['the_geom'] = df_census['the_geom'].apply(lambda x: shapely.wkt.loads(x.strip()))  # Strip leading/trailing whitespace

# Create a GeoDataFrame
gdf_census = gpd.GeoDataFrame(df_census, geometry='the_geom')

In [11]:
# Spatial join to align geometries and aggregate population data
pop_df = gpd.sjoin(df_community_area_geom, gdf_census, how='left', op='intersects')

# Group by 'SECTOR' and aggregate the population data
pop_df = pop_df.groupby(['COMMUNITY','AREA_NUM_1'])['TOTAL POPULATION'].sum().reset_index()

# Add the 'geometry' column from df_community_area_geom
pop_df = pop_df.merge(df_community_area_geom[['COMMUNITY','AREA_NUM_1','geometry']], on=['COMMUNITY','AREA_NUM_1'], how='left')

/Users/Emi/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3309: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [12]:
pop_df = gpd.GeoDataFrame(pop_df, geometry='geometry')

import geopandas as gpd


# Set the initial CRS for the DataFrame (e.g., EPSG:4326 for WGS 84)
initial_crs = 'EPSG:4326'

# Set the CRS for the DataFrame
pop_df.crs = initial_crs

# Define the CRS you want to use for reprojection (e.g., EPSG:3857 for Web Mercator)
desired_crs = 'EPSG:3857'

# Reproject the DataFrame to the desired CRS
pop_df = pop_df.to_crs(desired_crs)


# Calculate area (in square meters) for each sector
pop_df['Area_sqm'] = pop_df['geometry'].area

# Convert 'Area_sqm' to a more suitable unit (e.g., square kilometers)
pop_df['Area_sqkm'] = pop_df['Area_sqm'] / 1e6  # 1 square kilometer = 1,000,000 square meters

# Calculate population density (people per square kilometer)
pop_df['Population Density (people/sqkm)'] = pop_df['TOTAL POPULATION'] / pop_df['Area_sqkm']

In [13]:
pop_df.head(2)

,COMMUNITY,AREA_NUM_1,TOTAL POPULATION,geometry,Area_sqm,Area_sqkm,Population Density (people/sqkm)
0,ALBANY PARK,14,56787,"MULTIPOLYGON (((-9763168.819 5157018.422, -976...",9.004359e+06,9.004359,6306.611859
1,ARCHER HEIGHTS,57,14384,"MULTIPOLYGON (((-9764318.931 5134956.678, -976...",9.358837e+06,9.358837,1536.943074

## Import Crime Counts & Other Datasets

In [14]:
# SQL query or table name
query = "SELECT * FROM Chicago_Violent_Crime_Totals"  #Name of table 

# Create a DataFrame from the SQL query
violent_df = pd.read_sql(query, engine)

In [15]:
violent_df.head(1)

   Community Area    Month  Violent Crimes
0             1.0  2003-01             141

In [22]:
housing_df = pd.read_csv('Affordable_Rental_Housing_Developments_20231109.csv')
grocery_stores = pd.read_csv('Grocery_Stores_-_2013_20231109.csv')
census_df = pd.read_csv('Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012_20231109.csv')

In [23]:
#Census
census_df = census_df.rename(columns={'Community Area Number':'Community Area'})
census_df = census_df.drop(columns='COMMUNITY AREA NAME')

#Grocery
grocery_store_count = grocery_stores.groupby(['COMMUNITY AREA']).agg(Grocery_Store_Count=('STORE NAME','count')).reset_index()
grocery_store_count = grocery_store_count.rename(columns={'COMMUNITY AREA':'Community Area'})

#Housing
exclude_types = [
    'Artist Housing', 'Multifamily/Artists', 'Artist Live/Work Space', 
    'Artists & Families', 'Artist/Family', 'Senior HUD 202',
    'Senior LGBTQ',  
    'Inter-generational'
]

housing_df = housing_df[~housing_df['Property Type'].isin(exclude_types)]

housing_df.rename(columns={'Community Area Number':'Community Area'}, inplace=True)

columns_to_drop = ['Zip Code', 
                   'Phone Number', 
                   'Management Company', 
                   #'Community Area',
                   'Property Type',
                   'Property Name',
                   'Address',
                   'X Coordinate',
                   'Y Coordinate',
                   #'Latitude',
                   #'Longitude',
                   #'Community Area Name',
                   #'Location'
                  ]

housing_clean = housing_df.drop(columns=columns_to_drop)
housing_clean

affordable_housing_unit_count = housing_clean.groupby('Community Area')['Units'].sum().reset_index()

In [24]:
merged_df = pd.merge(violent_df, affordable_housing_unit_count,on='Community Area',how='left')
merged_df = pd.merge(merged_df, grocery_store_count, on='Community Area',how='left')
merged_df = pd.merge(merged_df, census_df, on='Community Area',how='left')

In [26]:
merged_df

,Community Area,Month,Violent Crimes,Units,Grocery_Store_Count,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,1.0,2003-01,141,1124.0,13.0,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,1.0,2003-02,136,1124.0,13.0,7.7,23.6,8.7,18.2,27.5,23939,39.0
2,1.0,2003-03,173,1124.0,13.0,7.7,23.6,8.7,18.2,27.5,23939,39.0
3,1.0,2003-04,193,1124.0,13.0,7.7,23.6,8.7,18.2,27.5,23939,39.0
4,1.0,2003-05,201,1124.0,13.0,7.7,23.6,8.7,18.2,27.5,23939,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19464,77.0,2023-09,82,529.0,11.0,4.1,18.2,9.2,9.7,23.8,33385,19.0
19465,77.0,2023-10,80,529.0,11.0,4.1,18.2,9.2,9.7,23.8,33385,19.0
19466,77.0,2023-11,70,529.0,11.0,4.1,18.2,9.2,9.7,23.8,33385,19.0
19467,77.0,2023-12,66,529.0,11.0,4.1,18.2,9.2,9.7,23.8,33385,19.0
19468,77.0,2024-01,7,529.0,11.0,4.1,18.2,9.2,9.7,23.8,33385,19.0

In [27]:
# Merge violent_df with population_df based on a common identifier, e.g., 'SECTOR' or 'CENSUS BLOCK FULL'
merged_df_pop = merged_df.merge(pop_df, left_on='Community Area', right_on='AREA_NUM_1', how='left')

# Calculate Violent Crimes per Capita per 1,000 people
merged_df_pop['Violent Crimes per Capita'] = (merged_df_pop['Violent Crimes'] / merged_df_pop['TOTAL POPULATION']) * 1000

In [30]:
merged_df_pop = merged_df_pop.drop(columns='AREA_NUM_1')

In [31]:
# SQL query or table name
query = "SELECT * FROM Chicago_Crime_Totals"  #Name of table 

# Create a DataFrame from the SQL query
df_total= pd.read_sql(query, engine)

In [32]:
df_total

       Community Area    Month  Total Crimes
0                 1.0  2003-01           595
1                 1.0  2003-02           515
2                 1.0  2003-03           669
3                 1.0  2003-04           670
4                 1.0  2003-05           769
...               ...      ...           ...
19475            77.0  2023-09           315
19476            77.0  2023-10           282
19477            77.0  2023-11           270
19478            77.0  2023-12           262
19479            77.0  2024-01            22

[19480 rows x 3 columns]

In [33]:
final_merged = merged_df_pop.merge(df_total, on =['Community Area','Month'])

In [38]:
final_merged.to_csv('final_merged.csv')

## Creating New Table in Database

In [36]:
from sqlalchemy import create_engine, VARCHAR, FLOAT, INT, Index

In [37]:
index_list = [Index('idx_Community_Area', 'Community Area', unique=True)]

# Create the database engine
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}/{database}')

# Specify the new table name here
new_table_name = 'MACHINE_LEANING_CRIMES_BY_COMMAREA'

# Upload the dataframe to the new table
final_merged.to_sql(new_table_name, con=engine, if_exists='replace', index=False, 
                     index_label='Community Area')

with engine.connect() as connection:
    connection.execute(f"CREATE INDEX idx_Community_Area ON {new_table_name} ('Community Area')")

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1166 (42000): Incorrect column name 'PER CAPITA INCOME '
[SQL:
CREATE TABLE `MACHINE_LEANING_CRIMES_BY_COMMAREA` (
	`Community Area` FLOAT(53),
	`Month` TEXT,
	`Violent Crimes` BIGINT,
	`Units` FLOAT(53),
	`Grocery_Store_Count` FLOAT(53),
	`PERCENT OF HOUSING CROWDED` FLOAT(53),
	`PERCENT HOUSEHOLDS BELOW POVERTY` FLOAT(53),
	`PERCENT AGED 16+ UNEMPLOYED` FLOAT(53),
	`PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA` FLOAT(53),
	`PERCENT AGED UNDER 18 OR OVER 64` FLOAT(53),
	`PER CAPITA INCOME ` BIGINT,
	`HARDSHIP INDEX` FLOAT(53),
	`COMMUNITY` TEXT,
	`TOTAL POPULATION` BIGINT,
	geometry TEXT,
	`Area_sqm` FLOAT(53),
	`Area_sqkm` FLOAT(53),
	`Population Density (people/sqkm)` FLOAT(53),
	`Violent Crimes per Capita` FLOAT(53),
	`Total Crimes` BIGINT
)

]
(Background on this error at: https://sqlalche.me/e/14/f405)