## Imports and Notebook setup

In [1]:
#Imports

import csv 
import pandas as pd
import numpy as np

### Inspecting Police Sentiment Data

In [2]:
#Police Sentiment Data
file_path = '/Users/ericchestnut/Documents/Data Science Class /Project/Cleaned Data/Police_Sentiment_Scores.csv'

police_df = pd.read_csv(file_path)
police_df = police_df.dropna(subset=['SECTOR'])
police_df.head(5)

,AREA,DISTRICT,SECTOR,SAFETY,S_RACE_AFRICAN_AMERICAN,S_RACE_ASIAN_AMERICAN,S_RACE_HISPANIC,S_RACE_WHITE,S_RACE_OTHER,S_AGE_LOW,...,T_RESPECT_SEX_FEMALE,T_RESPECT_SEX_MALE,T_RESPECT_EDUCATION_LOW,T_RESPECT_EDUCATION_MEDIUM,T_RESPECT_EDUCATION_HIGH,T_RESPECT_INCOME_LOW,T_RESPECT_INCOME_MEDIUM,T_RESPECT_INCOME_HIGH,START_DATE,END_DATE
0,area_5,14.0,1420.0,56.69,40.27,58.65,61.66,60.06,44.52,48.83,...,59.33,68.41,67.35,54.49,75.65,69.04,70.98,47.64,2021-04-01,2021-04-30
1,area_2,5.0,510.0,35.51,32.37,43.24,41.55,48.80,57.43,34.53,...,66.65,48.26,57.72,40.56,67.80,44.34,52.56,71.14,2021-04-01,2021-04-30
2,area_4,11.0,1110.0,42.63,41.12,41.60,39.17,52.04,61.11,47.86,...,48.13,46.52,68.64,38.61,45.05,44.41,55.56,48.57,2021-04-01,2021-04-30
3,area_1,9.0,930.0,46.02,37.58,36.90,49.17,50.06,55.76,45.34,...,72.54,68.04,62.02,75.03,75.50,64.57,72.54,76.47,2021-04-01,2021-04-30
4,area_5,16.0,1620.0,55.97,57.84,51.32,59.89,53.82,48.03,62.47,...,77.37,83.70,80.64,80.29,78.86,80.53,79.55,80.26,2021-04-01,2021-04-30

In [3]:
unique_sectors = police_df['SECTOR'].unique()
sorted_unique_sectors = np.sort(unique_sectors)
print(sorted_unique_sectors)

[ 110.  120.  130.  210.  220.  230.  310.  320.  330.  410.  420.  430.
  510.  520.  530.  610.  620.  630.  710.  720.  730.  810.  820.  830.
  910.  920.  930. 1010. 1020. 1030. 1110. 1120. 1130. 1210. 1220. 1230.
 1410. 1420. 1430. 1510. 1520. 1530. 1610. 1620. 1630. 1650. 1710. 1720.
 1730. 1810. 1820. 1830. 1910. 1920. 1930. 2010. 2020. 2030. 2210. 2220.
 2230. 2410. 2420. 2430. 2510. 2520. 2530. 2540. 2550.]

In [4]:
#Chicago police beats boundary data
file_path = '/Users/ericchestnut/Downloads/PoliceBeatDec2012.csv'
beats_df = pd.read_csv(file_path)
beats_df

,the_geom,DISTRICT,SECTOR,BEAT,BEAT_NUM
0,MULTIPOLYGON (((-87.7047252651434 41.975774430...,17,1,1,1713
1,MULTIPOLYGON (((-87.83365455041093 41.97535481...,31,0,0,3100
2,MULTIPOLYGON (((-87.90684167275818 41.97656175...,16,5,5,1651
3,MULTIPOLYGON (((-87.64491798475646 41.96972709...,19,1,1,1914
4,MULTIPOLYGON (((-87.63724132684592 41.96598776...,19,1,1,1915
...,...,...,...,...,...
272,MULTIPOLYGON (((-87.58879491369598 41.78612259...,3,1,1,314
273,MULTIPOLYGON (((-87.67917077210467 41.78656347...,8,2,2,825
274,MULTIPOLYGON (((-87.6085394544142 41.785829320...,3,1,1,313
275,MULTIPOLYGON (((-87.69354469346045 41.78458419...,8,2,2,823
276,MULTIPOLYGON (((-87.60430710530353 41.78043287...,3,1,1,312

In [5]:
unique_sectors = beats_df['BEAT_NUM'].unique()
sorted_unique_sectors = np.sort(unique_sectors)
print(sorted_unique_sectors)

[ 111  112  113  114  121  122  123  124  131  132  133  211  212  213
  214  215  221  222  223  224  225  231  232  233  234  235  311  312
  313  314  321  322  323  324  331  332  333  334  411  412  413  414
  421  422  423  424  431  432  433  434  511  512  513  522  523  524
  531  532  533  611  612  613  614  621  622  623  624  631  632  633
  634  711  712  713  714  715  722  723  724  725  726  731  732  733
  734  735  811  812  813  814  815  821  822  823  824  825  831  832
  833  834  835  911  912  913  914  915  921  922  923  924  925  931
  932  933  934  935 1011 1012 1013 1014 1021 1022 1023 1024 1031 1032
 1033 1034 1111 1112 1113 1114 1115 1121 1122 1123 1124 1125 1131 1132
 1133 1134 1135 1211 1212 1213 1214 1215 1221 1222 1223 1224 1225 1231
 1232 1233 1234 1235 1411 1412 1413 1414 1421 1422 1423 1424 1431 1432
 1433 1434 1511 1512 1513 1522 1523 1524 1531 1532 1533 1611 1612 1613
 1614 1621 1622 1623 1624 1631 1632 1633 1634 1651 1652 1653 1654 1655
 1711 1712 1713 1722 1723 1724 1731 1732 1733 1811 1812 1813 1814 1821
 1822 1823 1824 1831 1832 1833 1834 1911 1912 1913 1914 1915 1921 1922
 1923 1924 1925 1931 1932 1933 1934 1935 2011 2012 2013 2022 2023 2024
 2031 2032 2033 2211 2212 2213 2221 2222 2223 2232 2233 2234 2411 2412
 2413 2422 2423 2424 2431 2432 2433 2511 2512 2513 2514 2515 2521 2522
 2523 2524 2525 2531 2532 2533 2534 2535 3100]

#### I'm fairly certain 'sectors' in police sentiment are the same as the beat_num in the beats dataset but the data is organized into ranges of beats and not individual beats

### Links to see beats and communities in a map

https://chicagopolicedept-my.sharepoint.com/personal/gisteam_chicagopolice_org/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fgisteam%5Fchicagopolice%5Forg%2FDocuments%2FCPD%20PDFs%2Farea%5Fdistrict%5Fbeat%5F11x17%2Epdf&parent=%2Fpersonal%2Fgisteam%5Fchicagopolice%5Forg%2FDocuments%2FCPD%20PDFs&ga=1

https://chicagopolicedept-my.sharepoint.com/personal/gisteam_chicagopolice_org/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fgisteam%5Fchicagopolice%5Forg%2FDocuments%2FCPD%20PDFs%2Fcommunity%5Farea%5F11x17%2Epdf&parent=%2Fpersonal%2Fgisteam%5Fchicagopolice%5Forg%2FDocuments%2FCPD%20PDFs&ga=1


https://gis.chicagopolice.org/pages/cpd-pdf-maps

In [6]:
#Removing end_date and converting start_date to just year and month

# Convert START_DATE to datetime
police_df['START_DATE'] = pd.to_datetime(police_df['START_DATE'])

# Extract year and month and then combine as a new column
police_df['START_YEAR_MONTH'] = police_df['START_DATE'].dt.to_period('M')

# Drop the original START_DATE and END_DATE columns
police_df = police_df.drop(columns=['START_DATE', 'END_DATE'])

In [7]:
police_df.head(5)

,AREA,DISTRICT,SECTOR,SAFETY,S_RACE_AFRICAN_AMERICAN,S_RACE_ASIAN_AMERICAN,S_RACE_HISPANIC,S_RACE_WHITE,S_RACE_OTHER,S_AGE_LOW,...,T_RESPECT_AGE_HIGH,T_RESPECT_SEX_FEMALE,T_RESPECT_SEX_MALE,T_RESPECT_EDUCATION_LOW,T_RESPECT_EDUCATION_MEDIUM,T_RESPECT_EDUCATION_HIGH,T_RESPECT_INCOME_LOW,T_RESPECT_INCOME_MEDIUM,T_RESPECT_INCOME_HIGH,START_YEAR_MONTH
0,area_5,14.0,1420.0,56.69,40.27,58.65,61.66,60.06,44.52,48.83,...,69.87,59.33,68.41,67.35,54.49,75.65,69.04,70.98,47.64,2021-04
1,area_2,5.0,510.0,35.51,32.37,43.24,41.55,48.80,57.43,34.53,...,54.28,66.65,48.26,57.72,40.56,67.80,44.34,52.56,71.14,2021-04
2,area_4,11.0,1110.0,42.63,41.12,41.60,39.17,52.04,61.11,47.86,...,41.24,48.13,46.52,68.64,38.61,45.05,44.41,55.56,48.57,2021-04
3,area_1,9.0,930.0,46.02,37.58,36.90,49.17,50.06,55.76,45.34,...,71.07,72.54,68.04,62.02,75.03,75.50,64.57,72.54,76.47,2021-04
4,area_5,16.0,1620.0,55.97,57.84,51.32,59.89,53.82,48.03,62.47,...,80.72,77.37,83.70,80.64,80.29,78.86,80.53,79.55,80.26,2021-04

In [8]:
year_month_counts = police_df['START_YEAR_MONTH'].value_counts().sort_index()
with pd.option_context('display.max_rows', None):
    print(year_month_counts)

START_YEAR_MONTH
2017-11    69
2017-12    69
2018-01    69
2018-02    69
2018-03    69
2018-04    69
2018-05    69
2018-06    69
2018-07    69
2018-08    69
2018-09    69
2018-10    69
2018-11    69
2018-12    69
2019-01    69
2019-02    69
2019-03    69
2019-04    69
2019-05    69
2019-06    69
2019-07    69
2019-08    69
2019-09    69
2019-10    69
2019-11    69
2019-12    69
2020-01    69
2020-02    69
2020-03    69
2020-04    69
2020-05    69
2020-06    69
2020-07    69
2020-08    69
2020-09    69
2020-10    69
2020-11    69
2020-12    69
2021-01    69
2021-02    69
2021-03    69
2021-04    69
2021-05    69
2021-06    69
2021-07    69
2021-08    69
2021-09    69
2021-10    69
2021-11    69
2021-12    69
2022-01    69
2022-02    69
2022-03    69
2022-04    69
2022-05    69
2022-06    69
2022-07    69
2022-08    69
2022-09    69
2022-10    69
2022-11    69
2022-12    69
2023-01    69
2023-02    69
2023-03    69
2023-04    69
2023-05    69
2023-06    69
2023-07    69
2023-08    69
2023-09    69
Freq: M, Name: count, dtype: int64

In [9]:
num_sectors = police_df['SECTOR'].nunique()

num_sectors

69

### Starting in late 2017 to now, every sector has updated records. Perfect for time-series analysis with our crime data

## Converting Police Sectors to Community Areas